[submodule "astropy_helpers"]
	path = astropy_helpers
	url = https://github.com/fred3m/astropy-helpers.git
[submodule "astropy-helpers"]
	path = astropy-helpers
	url = https://github.com/fred3m/astropy-helpers.git
