<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Interactive Plot</title>
        <script src="static/jquery-2.1.0.min.js" type="text/javascript"></script>
        <script src="static/astropyp.js" type="text/javascript"></script>
        <!-- Place any other scripts needed here (example below)-->
        <script src="interactive_plots/static/plots.js" type="text/javascript"></script>
    </head>
    <body>
        <!-- Div element to hold parameter elements -->
        <div id='parameter-div'>
            <center class='pyp-title'>Parameters</center>
            <div id='param_list-div'></div>
        </div>
        <!-- Div element for instructions elements -->
        <div id='plot-div'></div>
        <div id='file-dialog'></div>
        <div id='edit-dialog'></div>
        <script>
        var websocket;
        var param_height = 98; // % of screen height
        var plot_height = 98; // % of screen height
        var param_list;
        var edit_param_list;
        var chart;
        var plot_params = {};
        
        function rxMsg(msg){
            // Actions to be taken based on message type
            if(msg.id == 'plot table'){
                var plot_data = []
                $.each(msg.data, function(i, entry){
                    var record = {};
                    $.each(msg.columns, function(j, column){
                        record[column] = entry[j]
                    });
                    plot_data.push(record);
                });
                console.log('data', plot_data);
                
                // clear fields from last table
                edit_param_list.params.params.x_axis.$input.html('');
                edit_param_list.params.params.y_axis.$input.html('');
                edit_param_list.params.params.show_x_error_div.paramSets.true.params.x_error.$input.html('');
                edit_param_list.params.params.show_y_error_div.paramSets.true.params.y_error.$input.html('');
                edit_param_list.params.params.group_div.paramSets.true.params.group_var.$input.html('');
                
                for(var i=0; i<msg.columns.length; i++){
                    var column = msg.columns[i];
                    $option = $('<option/>').html(column).val(column);
                    $option.clone().appendTo(edit_param_list.params.params.x_axis.$input);
                    $option.clone().appendTo(edit_param_list.params.params.y_axis.$input);
                    $option.clone().appendTo(edit_param_list.params.params.show_x_error_div.paramSets.true.params.x_error.$input);
                    $option.clone().appendTo(edit_param_list.params.params.show_y_error_div.paramSets.true.params.y_error.$input);
                    $option.clone().appendTo(edit_param_list.params.params.group_div.paramSets.true.params.group_var.$input);
                };
                edit_param_list.params.params.y_axis.$input.val(msg.columns[1]);
                
                var item_name = $('input[name='+param_list.params.params.plot_list_div.params.plot_list.radio+']:checked').val();
                console.log('rxMsg selected:', item_name);
                plot_params[item_name].original_data = plot_data;
                plot_params[item_name].data = plot_data.slice(0);
                plot_params[item_name].title = msg.title;
            }
        };
        
        function buildAllPlots(){
            var series_data =[];
            var x_axis_title;
            var y_axis_title;
            var chart_events = {}
            for(plot in plot_params){
                console.log(plot, 'params:', plot_params[plot]);
                var new_series = buildPlot(plot_params[plot].data, plot_params[plot].param_list);
                for(i=0; i<new_series.length; i++){
                    series_data.push(new_series[i]);
                };
                x_axis_title = plot_params[plot].param_list.x_axis;
                y_axis_title = plot_params[plot].param_list.y_axis;
            };
            console.log('all series data:', series_data);
            if(param_list.params.params.selection_type.$input.val() == 'multiple'){
                chart_events = {
                    selection: function(event) {
                        for (var i = 0; i < this.series[0].data.length; i++) {
                            var point = this.series[0].data[i];
                            if (point.x > event.xAxis[0].min &&
                                point.x < event.xAxis[0].max &&
                                point.y > event.yAxis[0].min &&
                                point.y < event.yAxis[0].max
                            ){
                                point.select(true, true);
                            }
                        };
                    return false;
                    }
                }
            }
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'plot-div',
                    zoomType: 'xy',
                    events: chart_events
                },
                title: {
                    text: 'Plot'
                },
                xAxis: {
                    title: {
                        enabled: true,
                        text: x_axis_title
                    },
                    startOnTick: true,
                    endOnTick: true,
                    showLastLabel: true,
                    gridLineWidth: 1
                },
                yAxis: {
                    title: {
                        text: y_axis_title
                    },
                    gridLineWidth: 1,
                    //reversed:true
                },
                tooltip: {
                    formatter: function() {
                        obs_info = '';
                        for(field in this.point.other_data){
                            console.log(field);
                            obs_info += field+': '+this.point.other_data[field]+'<br/>';
                        };
                        return obs_info;
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                },
                series: series_data
            });
        };
        
        function addSeries(data, options){
            console.log('options:', options);
            var series_fields = ['name'];
            var marker_fields = ['enabled', 'fillColor', 'lineColor', 'lineWidth','radius','symbol'];
            var series = {
                name: options.plot_name,
                type: options.plot_type,
                data: data,
                turboThreshold: data.length+10,
                allowPointSelect: true,
            };
            for(i=0;i<series_fields.length;i++){
                if(options.hasOwnProperty(series_fields[i])){
                    series[series_fields[i]] = options[series_fields[i]];
                }
            };
            series.marker = {};
            for(i=0;i<marker_fields.length;i++){
                series.marker[marker_fields[i]] = options[marker_fields[i]]
            };
            series.marker = $.extend(true, series.marker, {
                states: {
                    hover: {
                        radius: series.marker.radius*1.5,
                        enabled: true,
                        lineWidth: series.marker.lineWidth*1.5,
                        lineColor: 'rgb(100,100,100)'
                    }
                },
                cursor: 'pointer'
            });
            return series;
        }
        
        function buildPlot(plot_data, params){
            var data = [];
            for(var i=0; i<plot_data.length; i++){
                data[i] = {
                    x: plot_data[i][params.x_axis],
                    y: plot_data[i][params.y_axis],
                    other_data: plot_data[i]
                }
            };
            console.log('data:', data);
            //var params = edit_param_list.getParams(edit_param_list.params);
            
            function x_sort(a,b){
                if(a['x']<b['x']){
                    return -1;
                }else if(a['x']>b['x']){
                    return 1;
                };
                return 0;
            };
            
            function findUnique(data, key){
                var values = [];
                for(var i=0; i<data.length; i++){
                    if(values.indexOf(data[i].other_data[key])==-1){
                        values.push(data[i].other_data[key]);
                    }
                }
                return values;
            };
            
            data.sort(x_sort);

            var series_data = [];
            
            if(params.show_y_error){
                var err_data = [];
                $.each(data,function(i, entry){
                    console.log('entry:',entry);
                    var err = entry.other_data[params.y_error];
                    err_data.push({
                        x: entry['x'],
                        low: entry['y']-err,
                        high: entry['y']+err
                    })
                });
                console.log(err_data);
                series_data.push({
                    type: 'errorbar',
                    data: err_data
                })
            };
            if(params.show_x_error){
                var err_data = [];
                $.each(data,function(i, entry){
                    console.log('entry:',entry);
                    var err = entry.other_data[params.x_error];
                    err_data.push({
                        x: entry['x'],
                        low: entry['y']-err,
                        high: entry['y']+err
                    })
                });
                console.log(err_data);
                series_data.push({
                    type: 'errorbar',
                    data: err_data
                })
            };
            
            if(params.group){
                var keys = findUnique(data, params.group_var);
                console.log('keys:', keys);
                var data_sets = {};
                for(var i=0; i<keys.length; i++){
                    data_sets[keys[i]] = [];
                };
                console.log('data_sets:', data_sets);
                for(var i=0; i<data.length; i++){
                    data_sets[data[i].other_data[params.group_var]].push(data[i]);
                };
                for(var i=0; i<keys.length; i++){
                    delete params.fillColor;
                    delete params.lineColor;
                    params.name = keys[i];
                    series_data.push(addSeries(data_sets[keys[i]], params));
                    /*series_data.push({
                        name: keys[i],
                        type: 'line',
                        turboThreshold:plot_data.length+10,
                        data:data_sets[keys[i]],
                        allowPointSelect:true,
                        marker:{
                            enabled:true,
                            symbol:'circle',
                            radius: 4
                        }
                    })*/
                };
            } else {
                series_data.push(addSeries(data, params));
                /*series_data.push({
                    type:'line',
                    //color: 'rgba(223, 83, 83, .5)',
                    turboThreshold:plot_data.length+10,
                    data:data,
                    allowPointSelect:true,
                    marker:{
                        enabled:true,
                        symbol:'circle',
                        radius: 4
                    }
                })*/
            }
            
            console.log('series data', series_data);
            return series_data;
        }
        
        function removeSelected(){
            var points=chart.getSelectedPoints();
			if (!points.length) alert ('No points selected. Click a point to select it. Control click to select multiple points');
			$.each(points, function(i, point) {
				point.remove(false);
			});
			chart.redraw();
        };
        
        document.onkeydown=function(event){
            if(document.activeElement.id!='saveName'){
                if(event.keyCode.toString()==82){ // keycode 82='r'
                    removeSelected();
                }
            }
        }
        
        function loadTable(){
            websocket.sendTask({
                module: 'interactive_plots.plots',
                task: 'load_table',
                parameters: {
                    filename: edit_param_list.params.params.filename.$input.val(),
                    format: edit_param_list.params.params.format.$input.val(),
                }
            });
        }
        
        
        function pypeline_onload(options){
            console.log('Dependencies loaded!')
            
            file_dialog = Astropyp.Utils.initFileDialog({
                element:'file-dialog',
                websocket:websocket
            });
            
            $edit_dialog = $('#edit-dialog');
            
            var params = Astropyp.Pypelines.Plots.initParams({
                file_dialog: file_dialog,
                buildPlotFunc: buildAllPlots,
                loadFunc: loadTable,
                $edit_dialog: $edit_dialog
            });
            
            param_list = Astropyp.Utils.initParamList(
                {
                    type:'div',
                    params:params.main
                },
                options = {
                    $parent: $('#param_list-div')
                }
            );
            
            console.log('param list:', param_list);
            var plot_btns = param_list.params.params.plot_list_div.params.plot_list.buttons;
            
            plot_btns.add.$input.click(function(){
                var item_name = $('input[name='+param_list.params.params.plot_list_div.params.plot_list.radio+']:checked').val();
                console.log('add selected:', item_name);
                plot_params[item_name] = {
                    param_list: edit_param_list.getParams(param_list.params)
                };
                console.log('plot_params:', plot_params);
            })
            
            plot_btns.remove.$input.click(function(){
                var item_name = $('input[name='+param_list.params.params.plot_list_div.params.plot_list.radio+']:checked').val();
                console.log('remove selected:', item_name);
                delete plot_params[item_name];
                console.log('plot_params:', plot_params);
            })
            
            plot_btns = param_list.params.params.plot_list_div.params.edit.$input.click(function(){
                var item_name = $('input[name='+param_list.params.params.plot_list_div.params.plot_list.radio+']:checked').val();
                console.log('edit selected:', item_name);
                console.log('new list should be', plot_params[item_name].param_list);
                console.log('plot params:', plot_params);
                edit_param_list.setParams(edit_param_list.params, 'edit', plot_params[item_name].param_list);
            })
            
            edit_param_list = Astropyp.Utils.initParamList(
                {
                    type:'div',
                    params:params.plot_params
                },
                options = {
                    $parent: $edit_dialog
                }
            );
            
            $edit_dialog.dialog({
                title:'Plot Options',
                resizable:true,
                width:500,
                draggable:true,
                autoOpen:false,
                modal:false,
                position:{
                    of:$(window),
                    my:"left top",
                    at:"left top"
                },
                buttons: {
                    'Save Settings': function(){
                        var plot_list = param_list.params.params.plot_list_div.params.plot_list;
                        var item_name = $('input[name='+plot_list.radio+']:checked').val();
                        var item;
                        var param = plot_list;
                        console.log('plot_list:', plot_list);
                        for(var i=0; i<param.items.length;i++){
                            if(param.items[i].$radio.val()==item_name){
                                item = i;
                            }
                        };
                        console.log('save selected:', item_name);
                        plot_params[item_name].param_list = edit_param_list.getParams(edit_param_list.params);
                        console.log('plot params:', plot_params);
                        var title;
                        plot_name = plot_params[item_name].param_list.filename.split('/');
                        plot_name = plot_name[plot_name.length-1];
                        plot_params[item_name].param_list.plot_name = plot_name;
                        plot_list.items[item].params.plot_name.$input.val(plot_name);
                        $(this).dialog('close');
                    },
                    'Cancel': function(){
                        $(this).dialog('close');
                    }
                }
            }).css("font-size", "12px");
            
            //param_list.params.params.filename.$input.change(function(){
                
                //});
        };
        
        window.onload = function(){
            websocket = Astropyp.Core.jobsocketInit({
                receiveAction:rxMsg
            });
            Astropyp.Utils.loadDependencies(
                Astropyp.Pypelines.Plots.dependencies, 
                pypeline_onload,
                {}
            );
            $('#parameter-div').height(Math.floor($(window).height()*param_height/100));
            $('#plot-div').height(Math.floor($(window).height()*plot_height/100));
        };
        
        window.onresize = function(){
            $('#parameter-div').height(Math.floor($(window).height()*param_height/100));
            $('#plot-div').height(Math.floor($(window).height()*plot_height/100));
        }
        </script>
    </body>
</html>