<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Fits Viewer</title>
        <script src="{{static_url("jquery-2.1.0.min.js")}}" type="text/javascript"></script>
        <script src="fitsviewer/static/spectrum.js" type="text/javascript"></script>
        <script type="text/javascript" src="{{static_url("jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js")}}"></script>
		<script type="text/javascript" src="{{static_url("graph3d-1.2/graph3d.js")}}"></script>
        <script type="text/javascript" src="{{static_url("Highcharts-3.0.10/js/highcharts.js")}}"></script>
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
        
        <script src="{{static_url("astropyp.js")}}" type="text/javascript"></script>
        
        <link href="fitsviewer/static/spectrum.css" rel="stylesheet" type="text/css"/>
        <link type="text/css" rel="stylesheet" href="{{static_url("jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.css")}}"></script>
        
        <link href="fitsviewer/static/fitsviewer.css" rel="stylesheet" type="text/css"/>
        <link href="fitsviewer/static/controls.css" rel="stylesheet" type="text/css"/>

    </head>
    <body>
        <div>
            <div id="mainViewer" class="fitsviewer" width=100% height=100%>
            <div id="ctrl-panel"/>
            <div id="div-logger">
                <textarea id="logger" disabled></textarea>
            </div>
            {% module Template("controlPanel.html",controlName='mainViewer.controls')%}
        </div>
        <script>
        {% include "fitsviewer.js" %}
        {% include "controls.js" %}
        
        var tblParams={};
        console.log('host',window.location);
        mainViewer=Astropyp.Pypelines.Fitsviewer.fitsviewerInit({
            id:"mainViewer",
            logger:new Astropyp.Utils.Logger(document.getElementById("logger")),
            multiCanvas:Astropyp.Utils.initMultiCanvas($('#mainViewer'),{
                width:Math.round(window.innerWidth),
                height:Math.round(window.innerHeight)
            })
        });
        </script>
    </body>
</html>