<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Color Magnitude</title>
        <script src="{{static_url("jquery-2.1.0.min.js")}}" type="text/javascript"></script>
        <script src="{{static_url("astropyp.js")}}" type="text/javascript"></script>
        <script src="fitsviewer/static/fitsviewer_demo.js"type="text/javascript"></script>
        <script src="fitsviewer/static/controls_demo.js"type="text/javascript"></script>
        <script type="text/javascript" src="{{static_url("jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js")}}"></script>
		<script type="text/javascript" src="{{static_url("graph3d-1.2/graph3d.js")}}"></script>
        <script type="text/javascript" src="{{static_url("Highcharts-3.0.10/js/highcharts.js")}}"></script>
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
        <link href="fitsviewer/static/fitsviewer.css" rel="stylesheet" type="text/css"/>
        <link href="fitsviewer/static/controls.css" rel="stylesheet" type="text/css"/>
        <link href="demo/static/demo.css" rel="stylesheet" type="text/css"/>
        <link type="text/css" rel="stylesheet" href="{{static_url("jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.css")}}"></script>
        {% import fitsviewer %}
    </head>
    <body>
        <div style="width: 49%;float:left">
            <div id="colormag" style="height: 400px"></div>
            <button onclick='removeDisplayed()'>Remove Checked Points</button>
            <div id="instructions" class="demo-instr" style="margin:2px 0px 0px 0px">
                <center class="demo-head">Instructions</center>
                The plot shows the magnitudes i-z vs z. Many of these points may be edge effects or saturated stars which need to be removed. Removing point sources from this plot will also remove them from the point source catalogs.
            </div>
        </div>
        <div id="points-div" class="demo-colormag-div-wide" style="float:left">
            <center></center>
        </div>
        <script>
        google.load("visualization", "1");
        
        var utils=Astropyp.Utils;
        var fitsPyp=Astropyp.Pypelines.Fitsviewer;
        var iFits={};
        var zFits={};
        var chart;
        var tileSize=80;
        var offset=tileSize/2;
        var displayedPts=[]
        
        var iPath="/Volumes/Sandbox/decam2013A-0723/f100";
        var iFile="tu1766308-2.fits";
        var zPath="/Volumes/Sandbox/decam2013A-0723/f100";
        var zFile="tu1768167-2.fits";
        var catPath="/Volumes/Sandbox/decam2013A-0723/f100";
        var catFile="etacha_field2.fits";
        var izFrame=1
        
        //$('.demo-colormag-canvas').width(Math.floor($('#iDiv').width()*.96));
        //$('.demo-colormag-canvas').height($('.demo-colormag-canvas').width()/2);
        $('.demo-colormag-plot').width(Math.floor($('#iDiv').width()*.96));
        $('.demo-colormag-plot').height(Math.floor($('#iDiv').width()*.96));
        
        function loadInfo(point,elements){
            var iWcs=utils.initWCScoords(point.iRA,point.iDEC);
            var zWcs=utils.initWCScoords(point.zRA,point.zDEC);
            var iInfo='Image coords: '+point.ix+', '+point.iy;
            iInfo+='<br>RA: '+iWcs.getRA(3);
            iInfo+='<br>DEC: '+iWcs.getDEC(3);
            iInfo+='<br>Magnitude: '+point.iMag;
            elements.$iInfo.html(iInfo);
            var zInfo='Image coords: '+point.zx+', '+point.zy;
            zInfo+='<br>RA: '+zWcs.getRA(3);
            zInfo+='<br>DEC: '+zWcs.getDEC(3);
            zInfo+='<br>Magnitude: '+point.zMag;
            elements.$zInfo.html(zInfo);
            var iTile={
                fileId:iFits.fileId,
                frame:izFrame,
                x:point.ix-offset,
                y:point.iy-offset,
                scale:1,
                tile_width:tileSize,
                tile_height:tileSize,
                colormap:default_colormap={
                    colorFunc:fitsPyp.colorFunctions[2],
                    scale:"linear",
                    dataMin:0,
                    dataMax:765
                },
                filetype:'pixels',
                dataType:'i'
            };
            demosocket.sendTask(
                {
                    module:'fitsviewer',
                    task:'loadTile',
                    parameters:iTile
                },
                rxInfo,
                elements
            );
            var zTile={
                fileId:zFits.fileId,
                frame:izFrame,
                x:point.zx-offset,
                y:point.zy-offset,
                scale:1,
                tile_width:tileSize,
                tile_height:tileSize,
                colormap:default_colormap={
                    colorFunc:fitsPyp.colorFunctions[2],
                    scale:"linear",
                    dataMin:0,
                    dataMax:765
                },
                filetype:'pixels',
                dataType:'z'
            };
            demosocket.sendTask(
                {
                    module:'fitsviewer',
                    task:'loadTile',
                    parameters:zTile
                },
                rxInfo,
                elements
            );
        };
        
        function rxInfo(result,elements){
            var canvas;
            var surfacePlot;
            if(result.dataType=='i'){
                canvas=elements.$iCanvas[0];
                surfacePlot=utils.initSurfacePlot({
                    element:elements.$iPlot[0],
                    width:$('.demo-colormag-plot-split').width().toString()+'px',
                    height:$('.demo-colormag-plot-split').width().toString()+'px'
                });
            }else{
                canvas=elements.$zCanvas[0];
                surfacePlot=utils.initSurfacePlot({
                    element:elements.$zPlot[0],
                    width:$('.demo-colormag-plot-split').width().toString()+'px',
                    height:$('.demo-colormag-plot-split').width().toString()+'px'
                });
            };
            var ctx=canvas.getContext('2d');
            var imageData=fitsPyp.mapImage(result.data,ctx,result.colormap);
            ctx.putImageData(imageData,0,0);
            var data=new google.visualization.DataTable();
            data.addColumn('number','x');
            data.addColumn('number','y');
            data.addColumn('number','value');
            for(var i=0;i<result.data.length/4;i++){
                for(var j=0;j<result.data[i].length/4;j++){
                    data.addRow([i,j,result.data[i+30][j+30]]);
                };
            };
            surfacePlot.update({
                data:data
            });
        };
        
        function demoRx(result){
            console.log('received:',result);
            if(result.id=='fits file'){
                if(result.properties.filename==iFile){
                    iFits=result.properties;
                    demosocket.sendTask({
                        module:'fitsviewer',
                        task:'loadFitsFile',
                        parameters:{
                            path:zPath,
                            filename:zFile
                        }
                    });
                }else{
                    zFits=result.properties;
                    demosocket.sendTask({
                        module:'demo',
                        task:'getColorMag',
                        parameters:{
                            path:catPath,
                            filename:catFile
                        }
                    });
                };
            }else if(result.id=='color-mag'){
                chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'colormag',
                        type: 'scatter',
                        zoomType: 'xy',
                        events: {
                            selection: function(event) {
                                for (var i = 0; i < this.series[0].data.length; i++) {
                                var point = this.series[0].data[i];
                                if (point.x > event.xAxis[0].min &&
                                    point.x < event.xAxis[0].max &&
                                    point.y > event.yAxis[0].min &&
                                    point.y < event.yAxis[0].max) {
                                        point.select(true, true);
                                    }
        
                            }
                            return false;
                            }
                        },
                    },
                    title: {
                        text: 'Color-magnitude'
                    },
                    subtitle: {
                        text: [iFile,zFile].join(' and ')
                    },
                    xAxis: {
                        title: {
                            enabled: true,
                            text: 'i-z'
                        },
                        startOnTick: true,
                        endOnTick: true,
                        showLastLabel: true
                    },
                    yAxis: {
                        title: {
                            text: 'z'
                        },
                        reversed:true
                    },
                    tooltip: {
                        formatter: function() {
                            return 'i:'+ this.point.iMag +', z:'+ this.point.zMag;
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'left',
                        verticalAlign: 'top',
                        x: 100,
                        y: 70,
                        floating: true,
                        backgroundColor: '#FFFFFF',
                        borderWidth: 1
                    },
                    plotOptions: {
                        scatter: {
                            marker: {
                                radius: 5,
                                states: {
                                    hover: {
                                        enabled: true,
                                        lineColor: 'rgb(100,100,100)'
                                    }
                                }
                            },
                            states: {
                                hover: {
                                    marker: {
                                        enabled: false
                                    }
                                }
                            },
            
                        cursor: 'pointer',
                        events: {
                            /*click: function(event) {
                                console.log("point:",event.point);
                                loadInfo(event.point);
                            }*/
                        }
                        },
                    },
                    series: [{
                        name: 'Sources',
                        color: 'rgba(223, 83, 83, .5)',
                        turboThreshold:result.data.length+10,
                        data: result.data,
                        allowPointSelect:true
                    }]
                });
            }
        };
        
        function removeSelected(){
            var points=chart.getSelectedPoints();
			if (!points.length) alert ('No points selected. Click a point to select it. Control click to select multiple points');
			$.each(points, function(i, point) {
				point.remove(false);
			});
			chart.redraw();
        };
        
        function removeDisplayed(){
            for(i=0;i<displayedPts.length;i++){
                var pt=displayedPts[i];
                if(pt.$check.prop('checked')){
                    pt.point.remove();
                    pt.$fieldset.remove();
                    displayedPts.splice(i,1);
                }
            };
            chart.redraw();
        };
        
        function showSelected(){
            var points=chart.getSelectedPoints();
			$('#points-div').html('');
            displayedPts=[];
            $.each(points, function(i, point) {
                $pointDiv=$('<fieldset></fieldset>');
                $('#points-div').append($pointDiv);
                $check=$('<input/>').prop('type','checkbox').prop('checked',true).css('float','left');
                $pointDiv.append($check);
                $pointDiv.append('<br style="clear:all">')
                $iDiv=$('<div/>').css('width','49%').css('float','left');
                $iCanvas=$('<canvas class="demo-colormag-canvas" width=80 height=80></canvas>');
                $iInfo=$('<div/>');
                $iPlot=$('<div class="demo-colormag-plot-split"></div>');
                $pointDiv.append($iDiv);
                $iDiv.append('<center>Band 1</center>');
                $iDiv.append($iCanvas);
                $iDiv.append($iInfo);
                $iDiv.append($iPlot);
                
                $zDiv=$('<div/>').css('width','49%').css('float','left');
                $zCanvas=$('<canvas class="demo-colormag-canvas" width=80 height=80></canvas>');
                $zInfo=$('<div/>');
                $zPlot=$('<div class="demo-colormag-plot-split"></div>');
                $pointDiv.append($zDiv);
                $zDiv.append('<center>Band 2</center>');
                $zDiv.append($zCanvas);
                $zDiv.append($zInfo);
                $zDiv.append($zPlot);
                
                elements={
                    $iCanvas:$iCanvas,
                    $iInfo:$iInfo,
                    $iPlot:$iPlot,
                    $zCanvas:$zCanvas,
                    $zInfo:$zInfo,
                    $zPlot:$zPlot,
                };
                
                displayedPts.push({
                    point:point,
                    $check:$check,
                    $fieldset:$pointDiv
                })
                
                loadInfo(point,elements);
			});
        }
        
        var wsOptions={
            receiveAction:demoRx,
            onopen:function(){
                demosocket.sendTask({
                    module:'fitsviewer',
                    task:'loadFitsFile',
                    parameters:{
                        path:iPath,
                        filename:iFile
                    }
                });
            }
        };
        
        document.onkeydown=function(event){
            if(event.keyCode.toString()==82){ // keycode 82='r'
                removeSelected();
            }else if(event.keyCode.toString()==83){ // 83='s'
            showSelected();
            }
        }
        
        var demosocket=null;
        google.setOnLoadCallback(function(){
            demosocket=Astropyp.Core.jobsocketInit(wsOptions);
        });
        </script>
    </body>
</html>