<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Color Magnitude</title>
        <script src="{{static_url("jquery-2.1.0.min.js")}}" type="text/javascript"></script>
        <script src="{{static_url("astropyp.js")}}" type="text/javascript"></script>
        <script src="fitsviewer/static/fitsviewer_demo.js"type="text/javascript"></script>
        <script src="fitsviewer/static/controls_demo.js"type="text/javascript"></script>
        <script type="text/javascript" src="{{static_url("jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js")}}"></script>
		<script type="text/javascript" src="{{static_url("graph3d-1.2/graph3d.js")}}"></script>
        <script type="text/javascript" src="{{static_url("Highcharts-3.0.10/js/highcharts.js")}}"></script>
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
        <link href="fitsviewer/static/fitsviewer.css" rel="stylesheet" type="text/css"/>
        <link href="fitsviewer/static/controls.css" rel="stylesheet" type="text/css"/>
        <link href="demo/static/demo.css" rel="stylesheet" type="text/css"/>
        <link type="text/css" rel="stylesheet" href="{{static_url("jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.css")}}"></script>
        {% import fitsviewer %}
    </head>
    <body>
        <div style="width: 49%;float:left">
            <div id="colormag" style="height: 400px"></div>
            <button onclick='removeDisplayed()'>Remove Checked Points</button>
            <br>
            <select id='objField'>
                <option value='F100'>F100</option>
                <option value='F101'>F101</option>
                <option value='F102'>F102</option>
                <option value='F104'>F104</option>
                <option value='F105'>F105</option>
                <option value='F106'>F106</option>
                <option value='F107'>F107</option>
                <option value='F108'>F108</option>
                <option value='F110'>F110</option>
                <option value='F111'>F111</option>
                <option value='F112'>F112</option>
                <option value='F113'>F113</option>
                <option value='F114'>F114</option>
                <option value='F115'>F115</option>
                <option value='F116'>F116</option>
                <option value='F117'>F117</option>
                <option value='F118'>F118</option>
                <option value='F119'>F119</option>
                <option value='F120'>F120</option>
                <option value='F121'>F121</option>
                <option value='F122'>F122</option>
                <option value='F123'>F123</option>
                <option value='F124'>F124</option>
                <option value='F125'>F125</option>
                <option value='F126'>F126</option>
            </select>
            <label>Filter 1</label>
            <select id='filter1'>
                <option value='i'>i</option>
                <option value='z'>z</option>
            </select>
            <label>Filter 2</label>
            <select id='filter2'>
                <option value='z'>z</option>
                <option value='Y' selected>Y</option>
            </select>
            <select id='izFrame'>
                <option value='2'>2</option>
                <option value='5'>5</option>
                <option value='8'>8</option>
            </select>
            <select id='filterFlag'>
                <option value=true>True</option>
                <option value=false>False</option>
            </select>
            <button onclick='loadAll()'>Generate Color-Magnitude</button>
            <br>
            <input id='saveName'></input>
            <button onclick='save2file()'>Save Points to file</button>
            <button onclick='loadSavedData()'>Load Saved File</button>
            <div id="instructions" class="demo-instr" style="margin:2px 0px 0px 0px">
                <center class="demo-head">Instructions</center>
                Select a point (or points) by either clicking on a point in the plot or click and drag a rectangle to select a group of points.
                To display surface plots, images, and info for selected plots, press the 's' key.
                To remove all of the selected plots click the 'r' key.
                To only remove the checked plots (in the display on the right) click the "Remove Checked Points" button.
            </div>
        </div>
        <div id="points-div" class="demo-colormag-div-wide" style="float:left">
            <center>Selected Points</center>
        </div>
        <div id='fileDialog'></div>
        <script>
        google.load("visualization", "1");
        
        var utils=Astropyp.Utils;
        var fitsPyp=Astropyp.Pypelines.Fitsviewer;
        var iFits={};
        var zFits={};
        var chart;
        var tileSize=80;
        var offset=tileSize/2;
        var selectedPts=[]
        
        var objField=$('#objField').val();
        var catPath=['/media/data-beta/users/fmooleka/analysis/2013A-0723-temp',objField].join('/');
        var imgPath=['/media/data-beta/users/fmooleka/2013A-0723',objField].join('/');
        var filter1=$('#filter1').val();
        var filter2=$('#filter2').val();
        var izFrame=Number($('#izFrame').val());
        $('#saveName').val([[objField,filter1,filter2,izFrame].join('-'),'izy'].join('.'));
        $('#objField').change(function(){
            objField=$('#objField').val();
            catPath=['/media/data-beta/users/fmooleka/analysis/2013A-0723-temp',objField].join('/');
            imgPath=['/media/data-beta/users/fmooleka/2013A-0723',objField].join('/');
            $('#saveName').val([[objField,filter1,filter2,izFrame].join('-'),'izy'].join('.'));
        });
        $('#filter1').change(function(){
            filter1=$('#filter1').val();
            $('#saveName').val([[objField,filter1,filter2,izFrame].join('-'),'izy'].join('.'));
        });
        $('#filter2').change(function(){
            filter2=$('#filter2').val();
            $('#saveName').val([[objField,filter1,filter2,izFrame].join('-'),'izy'].join('.'));
        });
        $('#izFrame').change(function(){
            izFrame=Number($('#izFrame').val());
            $('#saveName').val([[objField,filter1,filter2,izFrame].join('-'),'izy'].join('.'));
        });
        

        $('.demo-colormag-plot').width(Math.floor($('#iDiv').width()*.96));
        $('.demo-colormag-plot').height(Math.floor($('#iDiv').width()*.96));
        
        function loadInfo(point,elements){
            var iWcs=utils.initWCScoords(point.iRA,point.iDEC);
            var zWcs=utils.initWCScoords(point.zRA,point.zDEC);
            var iInfo='Image coords: '+point.ix+', '+point.iy;
            iInfo+='<br>RA: '+iWcs.getRA(3);
            iInfo+='<br>DEC: '+iWcs.getDEC(3);
            iInfo+='<br>Magnitude: '+point.iMag;
            elements.$iInfo.html(iInfo);
            var zInfo='Image coords: '+point.zx+', '+point.zy;
            zInfo+='<br>RA: '+zWcs.getRA(3);
            zInfo+='<br>DEC: '+zWcs.getDEC(3);
            zInfo+='<br>Magnitude: '+point.zMag;
            elements.$zInfo.html(zInfo);
            var iTile={
                fileId:iFits.fileId,
                frame:izFrame,
                x:point.ix-offset,
                y:point.iy-offset,
                scale:1,
                tile_width:tileSize,
                tile_height:tileSize,
                colormap:default_colormap={
                    colorFunc:fitsPyp.colorFunctions[2],
                    scale:"linear",
                    dataMin:0,
                    dataMax:765
                },
                filetype:'pixels',
                dataType:'i'
            };
            demosocket.sendTask(
                {
                    module:'fitsviewer',
                    task:'loadTile',
                    parameters:iTile
                },
                rxInfo,
                elements
            );
            var zTile={
                fileId:zFits.fileId,
                frame:izFrame,
                x:point.zx-offset,
                y:point.zy-offset,
                scale:1,
                tile_width:tileSize,
                tile_height:tileSize,
                colormap:default_colormap={
                    colorFunc:fitsPyp.colorFunctions[2],
                    scale:"linear",
                    dataMin:0,
                    dataMax:765
                },
                filetype:'pixels',
                dataType:'z'
            };
            demosocket.sendTask(
                {
                    module:'fitsviewer',
                    task:'loadTile',
                    parameters:zTile
                },
                rxInfo,
                elements
            );
        };
        
        function rxInfo(result,elements){
            //console.log('result',result);
            var canvas;
            var surfacePlot;
            if(result.dataType=='i'){
                canvas=elements.$iCanvas[0];
                surfacePlot=utils.initSurfacePlot({
                    element:elements.$iPlot[0],
                    width:$('.demo-colormag-plot-split').width().toString()+'px',
                    height:$('.demo-colormag-plot-split').width().toString()+'px'
                });
            }else{
                canvas=elements.$zCanvas[0];
                surfacePlot=utils.initSurfacePlot({
                    element:elements.$zPlot[0],
                    width:$('.demo-colormag-plot-split').width().toString()+'px',
                    height:$('.demo-colormag-plot-split').width().toString()+'px'
                });
            };
            var ctx=canvas.getContext('2d');
            var imageData=fitsPyp.mapImage(result.data,ctx,result.colormap);
            ctx.putImageData(imageData,0,0);
            var data=new google.visualization.DataTable();
            data.addColumn('number','x');
            data.addColumn('number','y');
            data.addColumn('number','value');
            for(var i=0;i<result.data.length/4;i++){
                for(var j=0;j<result.data[i].length/4;j++){
                    data.addRow([i,j,result.data[i+30][j+30]]);
                };
            };
            surfacePlot.update({
                data:data
            });
        };
        
        function demoRx(result){
            console.log('received:',result);
            if(result.id=='fits file'){
                if(result.properties.filename.indexOf(['Stacked','image',filter1].join('-'))>0){
                    iFits=result.properties;
                    demosocket.sendTask({
                        module:'demo',
                        task:'loadFitsFile',
                        parameters:{
                            path:imgPath,
                            filter:filter2
                        }
                    });
                }else{
                    zFits=result.properties;
                    demosocket.sendTask({
                        module:'demo',
                        task:'loadColorMag',
                        parameters:{
                            path:catPath,
                            filter1:filter1,
                            filter2:filter2,
                            frame:izFrame,
                            filterFlag:$('#filterFlag').val()
                        }
                    });
                };
            }else if(result.id=='color-mag'){
                buildChart(result);
            }else if(result.id=='save chart'){
                if(result.status=='success'){
                    console.log('file successfully saved');
                }
            };
        };
        
        function buildChart(result){
            //TODO
            // Using correct photometry we can eliminate the need to shift
            data=[];
            xShift=0;
            if(result.hasOwnProperty('stats')){
                console.log('stats',result.stats);
                var xShift=0.4-result.stats.mean;
            };
			$.each(result.data, function(i, entry) {
                if(Math.abs(entry[12])<10 && entry[10]>12 && entry[4]<90 && entry[10]<90){
    				data.push({
                        'ix':entry[0],
                        'iy':entry[1],
                        'iRA':entry[2],
                        'iDEC':entry[3],
                        'iMag':entry[4],
                        'iMagErr':entry[5],
                        'zx':entry[6],
                        'zy':entry[7],
                        'zRA':entry[8],
                        'zDEC':entry[9],
                        'zMag':entry[10],
                        'zMagErr':entry[11],
                        'x':entry[12]+xShift,
                        'y':entry[10]+xShift
    				})
                }
			});
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'colormag',
                    zoomType: 'xy',
                    events: {
                        selection: function(event) {
                            for (var i = 0; i < this.series[0].data.length; i++) {
                            var point = this.series[0].data[i];
                            if (point.x > event.xAxis[0].min &&
                                point.x < event.xAxis[0].max &&
                                point.y > event.yAxis[0].min &&
                                point.y < event.yAxis[0].max) {
                                    point.select(true, true);
                                }
    
                        }
                        return false;
                        }
                    },
                },
                title: {
                    text: 'Color-magnitude'
                },
                subtitle: {
                    text: [objField,filter1,filter2,izFrame].join('-')
                },
                xAxis: {
                    title: {
                        enabled: true,
                        text: [filter1,filter2].join('-')
                    },
                    startOnTick: true,
                    endOnTick: true,
                    showLastLabel: true
                },
                yAxis: {
                    title: {
                        text: filter2
                    },
                    reversed:true
                },
                tooltip: {
                    formatter: function() {
                        return 'i:'+ this.point.iMag +', z:'+ this.point.zMag;
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'left',
                    verticalAlign: 'top',
                    x: 100,
                    y: 70,
                    floating: true,
                    backgroundColor: '#FFFFFF',
                    borderWidth: 1
                },
                plotOptions: {
                    scatter: {
                        marker: {
                            radius: 5,
                            states: {
                                hover: {
                                    enabled: true,
                                    lineColor: 'rgb(100,100,100)'
                                }
                            }
                        },
                        states: {
                            hover: {
                                marker: {
                                    enabled: false
                                }
                            }
                        },
        
                    cursor: 'pointer',
                    events: {
                        /*click: function(event) {
                            console.log("point:",event.point);
                            loadInfo(event.point);
                        }*/
                    }
                    },
                },
                series: [{
                    type:'scatter',
                    name: 'Sources',
                    color: 'rgba(223, 83, 83, .5)',
                    turboThreshold:result.data.length+10,
                    data:data,
                    allowPointSelect:true,
                    marker:{
                        enabled:true,
                        symbol:'circle',
                        radius: 2
                    }
                },{
                    type:'line',
                    name:'BD predictions',
                    color:'rgba(0,0,255,.5)',
                    data:[[.75,12.5],[1,14],[1.15,14.5],[1.45,15.5],[2.1,16.7],[2.45,21]],
                    marker:{
                        enabled:true,
                        symbol:'circle',
                        radius:5
                    }
                }]
            });
        }
        
        function removeSelected(){
            var points=chart.getSelectedPoints();
			if (!points.length) alert ('No points selected. Click a point to select it. Control click to select multiple points');
			$.each(points, function(i, point) {
				point.remove(false);
			});
			chart.redraw();
        };
        
        function removeDisplayed(){
            var i=0;
            while(i<selectedPts.length){
                var pt=selectedPts[i];
                if(pt.$check.prop('checked')){
                    pt.point.remove();
                    pt.$fieldset.remove();
                    selectedPts.splice(i,1);
                }else{
                    i++;
                }
            };
            chart.redraw();
        };
        
        function showSelected(){
            var points=chart.getSelectedPoints();
			$('#points-div').html('');
            selectedPts=[];
            $.each(points, function(i, point) {
                var $pointDiv=$('<fieldset></fieldset>');
                $('#points-div').append($pointDiv);
                var $check=$('<input/>').prop('type','checkbox').prop('checked',true).css('float','left');
                $pointDiv.append($check);
                $pointDiv.append('<br style="clear:all">')
                var $iDiv=$('<div/>').css('width','49%').css('float','left');
                var $iCanvas=$('<canvas class="demo-colormag-canvas" width=80 height=80></canvas>');
                var $iInfo=$('<div/>');
                var $iPlot=$('<div class="demo-colormag-plot-split"></div>');
                $pointDiv.append($iDiv);
                $iDiv.append('<center>Band 1</center>');
                $iDiv.append($iCanvas);
                $iDiv.append($iInfo);
                $iDiv.append($iPlot);
                
                var $zDiv=$('<div/>').css('width','49%').css('float','left');
                var $zCanvas=$('<canvas class="demo-colormag-canvas" width=80 height=80></canvas>');
                var $zInfo=$('<div/>');
                var $zPlot=$('<div class="demo-colormag-plot-split"></div>');
                $pointDiv.append($zDiv);
                $zDiv.append('<center>Band 2</center>');
                $zDiv.append($zCanvas);
                $zDiv.append($zInfo);
                $zDiv.append($zPlot);
                
                var elements={
                    $iCanvas:$iCanvas,
                    $iInfo:$iInfo,
                    $iPlot:$iPlot,
                    $zCanvas:$zCanvas,
                    $zInfo:$zInfo,
                    $zPlot:$zPlot,
                };
                
                selectedPts.push({
                    point:point,
                    $check:$check,
                    $fieldset:$pointDiv
                })
                loadInfo(point,elements);
			});
        }
        
        var wsOptions={
            receiveAction:demoRx,
        };
        
        function loadAll(){
            demosocket.sendTask({
                module:'demo',
                task:'loadFitsFile',
                parameters:{
                    path:imgPath,
                    filter:filter1
                }
            });
        };
        
        function save2file(){
            var data=[]
            $.each(chart.series[0].data,function(i,point){
                data.push([
                    point.ix,
                    point.iy,
                    point.iRA,
                    point.iDEC,
                    point.iMag,
                    point.iMagErr,
                    point.zx,
                    point.zy,
                    point.zRA,
                    point.zDEC,
                    point.zMag,
                    point.zMagErr,
                    point.x,
                    point.y
                ]);
            })
            demosocket.sendTask({
                module:'demo',
                task:'saveChart',
                parameters:{
                    path:catPath,
                    filename:$('#saveName').val(),
                    data:data,
                    objField:objField,
                    filter1:filter1,
                    filter2:filter2,
                    frame:izFrame
                }
            });
        };
        
        function loadSavedData(){
            fileDialog.loadDirectory(
                path='/media/data-beta/users/fmooleka/analysis/candidates',
                callback=function(){
                    demosocket.sendTask(
                        {
                            module:'demo',
                            task:'loadChart',
                            parameters:{
                                path:fileDialog.path,
                                filename:$('#'+fileDialog.fileInput).val(),
                            }
                        },
                        function(result){
                            buildChart(result);
                            objField=result.objField;
                            $('#objField').val(objField);
                            filter1=result.filter1;
                            $('#filter1').val(filter1);
                            filter2=result.filter2;
                            $('#filter2').val(filter2);
                            izFrame=result.frame;
                            $('#izFrame').val(izFrame);
                            imgPath=['/media/data-beta/users/fmooleka/2013A-0723',objField].join('/');
                            $('#saveName').val(result.filename);
                            demosocket.sendTask({
                                module:'demo',
                                task:'loadFitsFile',
                                parameters:{
                                    path:imgPath,
                                    filter:filter1
                                }
                            },function(result){
                                iFits=result.properties;
                            });
                            demosocket.sendTask({
                                module:'demo',
                                task:'loadFitsFile',
                                parameters:{
                                    path:imgPath,
                                    filter:filter2
                                }
                            },function(result){
                                zFits=result.properties;
                            });
                        }
                    );
                }
            );
        }
        
        document.onkeydown=function(event){
            if(document.activeElement.id!='saveName'){
                if(event.keyCode.toString()==82){ // keycode 82='r'
                    removeSelected();
                }else if(event.keyCode.toString()==83){ // 83='s'
                showSelected();
                }
            }
        }
        
        var demosocket=null;
        var fileDialog=null;
        google.setOnLoadCallback(function(){
            demosocket=Astropyp.Core.jobsocketInit(wsOptions);
            fileDialog=Astropyp.Utils.initFileDialog({
                element:'fileDialog',
                websocket:demosocket
            });
        });
        
        </script>
    </body>
</html>