html,body {
    height:100%;
    margin:0;
    /*background: -webkit-linear-gradient(left,#F5F5CC 75%,#CCCC00); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(right,#F5F5CC 75%,#CCCC00); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(right,#F5F5CC 75%,#CCCC00); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(to right,#CCCC00 75%,#F5F5CC,#CCCC00); /* Standard syntax (must be last) */
    background-color:#000000;
}
.fitsviewer{
    border:1px solid #d3d3d3;
    float:left;
    background-color:#FFFFFF;
}
#logger{
    width:100%;
    height:100%;
}